:root {
	--text-black: var(--gray-600);
	--text-white: var(--white);
	--white: #ffffff;
	--blue-primary: #0d64e8;
	--blue-light: #589aff;
	--blue-dark-primary: #0024a4;
	--blue-dark-soft: #d8e7ff;
	--gray-300: #d1d5db;
	--gray-600: #4b5563;
	--gray-900: #111827;
	--slate-primary: #5e7bb3;
	--slate-light: #9fb8de;
	--slate-soft: #e9eff8;
	--slate-dark: #273668;
}
